:root {
    --color: rgb(12, 131, 62);
    --text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}


nav {
    background-color: var(--color);
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    display: block;
    padding: 5px;
    text-decoration: none;
}

h1 {
    color: var(--color);
    margin: 10px 0 50px 20px;
    padding: 10px;
    border-bottom: 2px solid var(--color);
    

}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    margin: 7px;
    padding: 2px;
    box-shadow: 0 0 10px gray;
}

p {
    padding: 1px;
    margin: 1rem;
    margin-bottom: 100px;
}

main {
    max-width: 800px;
    grid-column: 2; 
}

aside {
    width: 500px;
    text-align: var(--text-align);
    position: relative;
    grid-column: 1;
    grid-row: 1;
}


aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 215px;
    color: black;
}
footer {
    margin-top: 20px;
    border-top: 1px solid #000;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 5px;
    padding: 1rem; 
    background-color: rgba(43, 133, 43, 0.267);
    color: #333;
}

.grid {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    align-items: center;

}