nav {
    background-color: rgb(9, 129, 73);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(9, 129, 73);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid green;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}