nav {
    background-color: rgb(9, 129, 73);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(9, 129, 73);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid green;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 800px;
}

aside {
    width: 400px;
    margin: 50px;
    border: 1px  rgb(184, 180, 180);
    padding: 50px;
    background-color: #eee;
    color: rgb(67, 83, 70);
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

footer {
    margin-top: 100px;
    border-top: 1px dotted black;
    text-align: center;
}






